

{% extends 'base.html' %}

{% block content %}

<div class="container">
    <p>Please set your password below,Later you may use this password for login or you may use Socail login process</p>


      <div class="row edit-profile-wrapper">

  <div class="col-sm-9 right-col">
    <form action="" enctype="multipart/form-data" method="post">

    {% csrf_token %}








        <div class="form-group row">
         <div class="col-sm-9">

      {{ form.as_p }}
        </div>
      </div>










      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <input type="submit" name="commit" value="Set Password" class="btn btn-primary" data-disable-with="Change My Password" />
        </div>
      </div>
</form>  </div>
</div>

</div>


{% block script %}

{% endblock script %}
{% endblock %}
